<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#3366FF" />
    <meta name="author" content="Jon Short">
    <meta name="description" content="CSS property position: sticky is another css property that makes complex, responsive layouts easy.">
    <meta property="og:description" content="CSS property position: sticky is another css property that makes complex, responsive layouts easy.">
    <meta property="og:title" content="Sticky POC">
    <title>Sticky POC</title>
  </head>
  <body>
    <include(input.content)/>
  </body>
</html>
