style {
    .container {
        display: block;
        text-align: center;
        width: 100%;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    .title {
        padding-top: 45vh;
        font-size: 40px;
    }
}

div.container style="height: ${input.height};"
    div.sticky
        h2.title
            include(input.title)
        include(input.renderBody)